:root {
  --highlight-color-1: #88caff;
  --highlight-color-2: #41e2ba;
  --highlight-color-3: #bebebe;
  --highlight-color-4: #e86a92;
  --highlight-color-5: #e89f6a;
  --highlight-color-6: #ffe873;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
